@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'Potta One', sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    
}

.pageDisplay {
    height: 100%;
    margin: 0;
    padding: 20px;
    background-color: #eee;
    font-size: 20px;
    box-shadow: 1px 1px 3px rgba( 0, 0 ,0, 0.1);
}


.keyDisplay {
    display: block;
    align-items: center;
}

#ask {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
}

.resultDisplay {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#result {
    align-items: center;
    text-align: center;
}